@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Antonio', serif;
  font-size: 80px;
  line-height: 103px;
}

h2 {
  font-family: 'Antonio', serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3, h4 {
  font-family: 'League Spartan', sans-serif;
}

h3 {
  font-size: 12px;
  letter-spacing: 2.6px;
}

h4 {
  font-size: 11px;
  letter-spacing: 1px;
}

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  line-height: 25px;
  background-color: #070724;
  color: #FFF;
}

ul {
  list-style:  none;
  margin: 0;
  padding: 0;
}

main {
  background-image: url("./assets/background-stars.svg");
  min-height: 80vh;
}